# Contains sensitive data

telebotToken=<your Telegram bot token(obtained from BotFather)>

botDoLoginEmail=true
botEmail=<emailBotWillSendMessagesFrom@you.com>

# Only used if `botDoLoginEmail` is true
botEmailPassword=<passwordUsedToLoginToTheEmailAbove>
